body{
	margin:0;
	padding:0;
	background: url(./img/5.jpg) no-repeat right top;

}

.arrow1{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.arrow1 span{
	display: block;
	width: 30px;
	height: 30px;
	border-top : 5px solid #06A8FF;
	border-left: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 3s infinite;
}

.arrow1 span:nth-child(2){
	animation-delay: -.2s;

}
.arrow1 span:nth-child(3){
	animation-delay: -.4s;

}

@keyframes scroll{

	0%{
		opacity : 0;
		transform : rotate(45deg) translate(-20px , -20px);
	}
	50%{
		opacity : 1;
		transform : rotate(45deg) translate(-20px , -20px);


	}
	 100%{
		 opacity : 0;
		transform : rotate(45deg) translate(-20px , -20px);



	}
}
